@font-face {
    font-family: Iran-Yekan-Regular;
    src: url("fonts/iranyekanwebregularfanum.woff") format("woff");
    src: url("fonts/iranyekanwebregularfanum.ttf") format("ttf");
}
@font-face {
    font-family: Iran-Yekan-Bold;
    src: url("fonts/iranyekanwebboldfanum.woff") format("woff");
    src: url("fonts/iranyekanwebboldfanum.ttf") format("ttf");
}
@font-face {
    font-family: Iran-Yekan-Light;
    src: url("fonts/iranyekanweblightfanum.woff") format("woff");
    src: url("fonts/iranyekanweblightfanum.ttf") format("ttf");
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Iran-Yekan-Bold, sans-serif;
    font-size: 18px;
}
.container1 {
    display: flex;
    border-width: 10px;
    writing-mode: horizontal-tb;
    box-shadow: 0 0 10px rgb(116, 115, 115);
}

/* @media only screen and (max-width: 1600px) {
    .container1 {
        display: none;
    }
} */
.profile {
    flex: 1;
    padding: 0.5% 0 0 0.5%;
}
.profile a {
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    font-family: Iran-Yekan-Bold, sans-serif;
}
.profile a:hover {
    font-size: 30px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 22px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Iran-Yekan-Bold, sans-serif;
}
nav ul li {
    /* display: flex; */
    position: relative;
    padding: 50px 7px 0 40px;
    height: 60px;
}
nav ul li:first-child {
    padding-top: 0;
}
nav ul li:first-child img {
    padding-top: 0;
    width: 4em;
    height: 4.7em;
}
nav ul li a {
    display: flex;
    text-decoration: none;
    padding-right: 7px;
    font-size: 20px;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    font-family: Iran-Yekan-Bold, sans-serif;
    /* width: 100px; */
}
nav ul li img {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    /* padding-top: 48px; */
}
.wrapper {
    display: flex;
    height: 40px;
    padding: 10px 15px;
}
.wrapper:hover {
    background-color: #d9d9d9;
}
.inner {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    right: 0%;
    background-color: #ffffff;
}
.inner li {
    float: none;
    height: 35px;
    /* width: 160px; */
    padding: 5px 5px;
}

.wrapper:hover > .inner {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(116, 115, 115);
}
.inner li:hover {
    background-color: #d9d9d9;
}
.sub {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    padding: 10px 10px;
    writing-mode: horizontal-tb;
    box-shadow: 0 1px 10px rgb(116, 115, 115);
}
.sub a {
    font-family: Iran-Yekan-Regular;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 5px;
}
form {
    border-bottom: solid 9px rgba(219, 219, 219, 1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0;
    padding-bottom: 100px;
}
.group1,
.group2,
.group3 {
    margin: 100px 3% 0 0;
    display: flex;
    flex-direction: row-reverse;
}
@media (max-width: 1800px) {
    .group1,
    .group2,
    .group3 {
        margin: 100px 0 0 0;
        display: flex;
        flex-direction: row-reverse;
    }
}

.group1 label,
.group2 label,
.group3 label {
    margin: 10px 50px;
}
.group1 input,
.group2 input,
.group3 input {
    border: solid 2px;
    border-color: #d9d9d9;
    padding: 4px 18px;
    max-width: 200px;
    font-family: Iran-Yekan-Regular, sans-serif;
    font-size: 16px;
    direction: rtl;
}

button {
    margin: 105px 11% 0 0px;
    font-family: Iran-Yekan-Bold, sans-serif;
    font-size: 18px;
    background-color: rgb(112, 114, 112);
    color: #fff;
    border: solid 1px;
    border-color: rgb(112, 112, 112);
    border-radius: 10px;
    width: 107px;
    height: 33px;
    cursor: pointer;
}
@media (max-width: 1600px) {
    button {
        margin-right: 45%;
    }
}
.group4 {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 10em auto;
    display: table;
    padding: 0 0 8em 0;
    font-family: Iran-Yekan-Regular, sans-serif;
    font-size: 16px;
    line-height: 27px;
    border-radius: 15px 15px 0 0;
    min-height: 820px;
}
.group4 th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #000000;
}

.group4 td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0e1119;
    -moz-box-shadow: 0 2px 2px -2px #0e1119;
    box-shadow: 0 2px 2px -2px #0e1119;
    text-align: center;
}

.group4 td,
.group4 th {
    padding-bottom: 2%;
    padding-top: 2%;
}

.group4 tr {
    background-color: #afb0befa;
}
.group4 th {
    background-color: #4595fd;
}

.group4 td:last-child a {
    text-decoration: none;
    color: black;
}

.group4 tr:hover {
    background-color: #464a52;
    -webkit-box-shadow: 0 6px 6px -6px #0e1119;
    -moz-box-shadow: 0 6px 6px -6px #0e1119;
    box-shadow: 0 6px 6px -6px #0e1119;
}

.group4 td:hover {
    background-color: #fff842;
    color: #403e10;
    font-weight: bold;

    box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
        #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .group3 td:nth-child(4),
    .group3 th:nth-child(4) {
        display: none;
    }
}
#confirmationMessage {
    display: none;
    /* border: solid red 5px; */
    background-color: rgba(62, 197, 99, 1);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5%;
    padding: 15px 40px;
    max-width: 700px;
    float: left;
}
a {
    text-decoration: none;
}
